<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you</title>
    <link rel="stylesheet" href="/stylesheets/thankyou.css">
</head>
<body>
    <div class="full">
        <header>
            <a href="/" style="padding-left: 30px;">
                <div class="captain1-content">
                    <h2>VoteX</h2>
                    <h2>VoteX</h2>
                </div>
            </a>
        </header>
        <div class="main">
            <h1>Thank You for Voting</h1>
    
            <p>Your vote has been cast, and your voice has been heard! By participating in the college election, you've helped shape the future of our community. Every vote counts, and your contribution brings us one step closer to a brighter, more united campus.
            Stay tuned for the results and continue to make a positive impact. Together, we create change!</p>   
        </div>
    </div>
</body>
</html>