@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
}
.left{
    width: 40%;
    height: 100%;
    /* border: 1px solid black; */
    background-color: #DEE5FF;
}
.left .upper{
    height: 30%;
    width: 100%;
    /* border: 1px solid black; */
}
.captain1-content{
    position: relative;
    padding-left: 40px;
    padding-top: 45px;
}
.captain1-content h2{
    position: absolute;
    transform: translate(-50%,-50%);   
    color: #fff;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic; 
}
.captain1-content h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px #8f68ff;
}
.captain1-content h2:nth-child(2){
    color: #8f68ff;
    animation: animate 4s ease-in-out infinite;
}
@keyframes animate
{
    0%, 100%
    {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50%
    {
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);

    }
}
.left .upper h1{
    position: relative;
    top: 30px;
    text-align: center;
    font-size: 55px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
    filter: drop-shadow(2px 3px 3px rgba(0,0,0,0.25));
    background: linear-gradient(to right,
    #fc72ff,#8f68ff,#487bff,
    #8f68ff,#fc72ff);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}
@keyframes animate-gradient {
    to {
        background-position: 200%;
    }
}
.left .lower{
    height: 70%;
    width: 100%;
    /* border: 1px solid black; */
    background: url('/images/registration.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.lower img{
    width: 300px;
    height: 300px;
    margin-left: 30px;
}
.right{
    width: 60%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #DEE5FF;
}


.login-box{
    width: 550px;
    height: 550px;
    position: relative;
    left: 50px;
    /* background: linear-gradient(#fff,#B3C7F4); */
    /* border: 1px solid black; */
    border-radius: 10px;
    filter: drop-shadow(5px 6px 8px rgba(0,0,0,0.34));
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
}



.input-box{
    position: relative;
    width: 400px;
    margin: 25px 0;
    border-bottom: 2px solid #fff;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    font-size: 1em;
    /* color: #fff; */
    color: black;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 0.95em;
    /* color: #fff; */
    color: black;
    padding: 0 35px 0 5px;
    border-bottom: 1px solid black;
 
}

button{
    width: 400px;
    height: 50px;
    background: #5A7FDD;
    border: none;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.2em;
    /* color: #000; */
    color: #fff;
    font-weight: 500;
}

button:hover{
     box-shadow: 0 0 5px #7E98F5, 0 0 5px #7E98F5,
        0 0 5px #7E98F5, 0 0 5px #7E98F5;
}

.register-link{
    font-size: 1em;
    /* color: #fff; */
    color: black;
    /* text-align: center; */
    margin: 30px 0 7px;
}

.register-link p a{
    /* color: #fff; */
    color: #5A7FDD;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

@media (max-width: 380px){
    body{
        background-color: rgb(46, 42, 42) !important;
    }
    .left{
        display: none;
    }
    .right{
        background-color: rgb(46, 42, 42) !important;
        min-width: 100%;
    }
    label{
        color: white !important;
    }
    .login-box{
        /* min-width: 100% !important; */
        position: static;
        display: block;
    }
    .input-box{
        width: 280px;
    }
    form{
        padding-left: 10px;
        margin: 0 !important;
    }
    button{
        width: 280px;
        background-color: #2980b9;
    }
    .register-link{
        color: white;
    }
    p a{
        color: #2980b9 !important;
    }
    .input-box input{
        color: white;
    }
}
@media (min-width: 381px) and (max-width: 480px){
    body{
        background-color: rgb(46, 42, 42) !important;
    }
    
    .left {
        display: none;
    }
    .right{
        background-color: rgb(46, 42, 42) !important;
        min-width: 100%;
    }
    label{
        color: white !important;
    }
    .login-box{
        /* min-width: 100% !important; */
        position: static;
        display: block;
    }
    .input-box{
        width: 380px;
    }
    form{
        padding-left: 10px;
        margin: 0 !important;
    }
    button{
        width: 380px;
        background-color: #2980b9;
    }
    .register-link{
        color: white;
    }
    p a{
        color: #2980b9 !important;
    }
    .input-box input{
        color: white;
    }
}