*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Montserrat", sans-seriff */
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#7E98F5,#DEE7FD);
    /* background-color:#7E98F5 ; */
}

header {
    margin-left: 5px;
}
.slider-wrapper {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 70px 55px;
}

.card-list .card-item{
    /* color: #fff; */
    user-select: none;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(30px);
    border-radius: 8px;
    background: rgba(255,255,255,0.2);
    border: 2px solid rgba(255,255,255,0.5);
}
.card-list .card-item .user-image{
    /* width: 150px;
    height: 150px; */
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid #fff;
    padding: 4px;
}

.card-list .card-item .user-profession{
    font-size: 0.7rem;
    color: rgb(85, 82, 82);
    font-weight: 500;
    margin: 7px 0 20px;
}

.description{
    font-size: 10px;
}
.card-list .card-item .message-button{
    font-size: 0.9rem;
    padding: 10px 25px;
    margin-top: 20px;
    color: #030728;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    background: #DEE7FD;
    border: 1px solid black;
    transition: 0.2s ease;
}
.card-list .card-item .message-button:hover{
    background: #7E98F5;
    border: 1px solid #fff;
    color: #fff;
}

.slider-wrapper .swiper-pagination-bullet {
    background: #7E98F5;
    height: 10px;
    width: 10px;
}

.slider-wrapper .swiper-slide-button {
    color: #7E98F5;
    margin-top: -50px;
}

.slider-wrapper .swiper-slide-button:hover {
    color: #5a7dfd;
}

@media (max-width: 768px){
    .slider-wrapper {
        margin: 0 10px 40px;
    }
    
    .slider-wrapper .swiper-slide-button {
        display: none;
    }
}

@media(max-width: 380px){
    header{
        display: none;
    }
}
@media (min-width:381px) and (max-width: 480px){
    header{
        display: none;
    }
}
